<html>
<head>
  <meta name='author' content='makelaris, makelaris jr.'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>Weather App</title>
  <link rel='stylesheet' href='//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
  <link rel='stylesheet' href='/static/css/main.css'>
  <link rel='icon' href='/static/favicon.gif' type='image/gif'>
  <link rel='preconnect' href='//fonts.gstatic.com'>
  <link link='preload' href='//fonts.googleapis.com/css2?family=Press+Start+2P&display=swap' rel='stylesheet'>
</head>
<body>
<div class='container'>
  <h1 class='text-center padded-top'>🌈 Weather App 🌈</h1>
  <div id='weather'></div>
</div>
<center><img src='/static/weather.gif' width='680' height='358' class='weatherman'></center>
</body>
<script src='/static/js/main.js'></script>
<script src='/static/js/koulis.js'></script> <!-- Just a meme -->
</html>